{% extends layout %}

{% block title %}Speakers{% endblock %}

{% block meta_description %}
2016 Madison PHP Conference Speakers
{% endblock %}

{% block content %}
<h2>Speakers</h2>

<p><a href="/schedule">View the Full Schedule</a></p>

<hr>
{% for key, talkSlot in talks %}

    {% if key == 'schedule_set' %}
    {% elseif key == 'rooms_set' %}
    {% else %}

        {% for speaker in talkSlot.speaker %}
            {% if speaker.name %}
                <div>
                    <img src="/assets/images/speakers/{{ speaker.img }}" class="img-responsive img-thumbnail" style="float: left; margin-right: 10px;" alt="{{ speaker.name }}">
                    {% if key == "keynote" %}
                        <h2>Keynote Speaker</h2>
                    {% endif %}
                    <h3>{{ speaker.name }}
                        {% if speaker.twitter %}
                        (<a href="http://www.twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>)
                        {% endif %} (<a href="/talks/{{key}}">View Talk</a>)</h3>
                    {{ speaker.bio|raw }}</p>

                </div>
                <div style="clear:both; height: 15px; border-bottom: 1px solid #000000;"></div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endfor %}
<hr>






{% endblock %}
