{% extends layout %}

{% block title %}Tickets{% endblock %}

{% block meta_description %}
2016 Madison PHP Conference Tickets
{% endblock %}

{% block content %}
<h2>Tickets</h2>

<p>Please note that there are three types of tickets this year:<ul>
    <li><h4>Tutorial Tickets</h4>
    These tickets are for the tutorial day on Friday, September 30th, 2016.</li>
    <li><h4>Conference Tickets</h4>
    These tickets are for the conference day on Saturday, October 1st, 2016.</li>
    <li><h4>Conference plus Tutorial Tickets</h4>
    These tickets are for the tutorial on Friday, September 30th, 2016 and for the conference day on Saturday, October 1st, 2016.</li>
</ul></p>


<div class="row">

    <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=24471893091&ref=etckt" frameborder="0" height="600" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div></div>
</div>

{% endblock %}
